<div>

    <sly-card
            class="mt15"
            title="Select images tags and values"
    >

          <el-select v-model="state.choose_tags" multiple placeholder="Select images tags" @change="command('choose_tags_values');">
            <el-option
              v-for="item in state.options"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>

          <el-select v-model="state.choose_vals" multiple placeholder="Select values" clearable=True>
            <el-option-group
              v-for="group in state.options3"
              :key="group.label"
              :label="group.label">
                <el-option
                  v-for="item in group.options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"></el-option>
            </el-option-group>
          </el-select>

            <el-button v-loading="state.loading" class="regular" type="primary"
            @click="command('my_test_select')">Get statistics</el-button>


    </sly-card>


    <sly-card
            class="mt15"
            title="Images tags stats"
            subtitle="Images tags stats"
    >
        <sly-table
                v-loading="data.imgs_tags_stat"
                :options="{perPage: 40, pageSizes: [15, 30, 40, 100]}"
                :content="data.imgs_tags_statTable"
        ></sly-table>

    </sly-card>

    <sly-card
            class="mt15"
            title="Images tags stats to imgs"
            subtitle="Images tags stats to imgs"
    >
        <sly-table
                v-loading="data.imgs_tags_stat"
                :options="{perPage: 40, pageSizes: [15, 30, 40, 100]}"
                :content="data.tags_to_imgs_urls_statTable"
        ></sly-table>

    </sly-card>

    <sly-card
            class="mt15"
            title="Images tags vals stats"
            subtitle="Images tags vals stats"
    >
        <sly-table
                v-loading="data.imgs_tags_stat"
                :options="{perPage: 40, pageSizes: [15, 30, 40, 100]}"
                :content="data.imgs_tags_vals_statTable"
        ></sly-table>

    </sly-card>

    <sly-card
            class="mt15"
            title="Images tags values stats to imgs"
            subtitle="Images tags values stats to imgs"
    >
        <sly-table
                v-loading="data.imgs_tags_stat"
                :options="{perPage: 40, pageSizes: [15, 30, 40, 100]}"
                :content="data.tags_vals_to_imgs_urls_statTable"
        ></sly-table>

    </sly-card>

    <sly-card
            class="mt15"
            title="Objects tags stats"
            subtitle="Objects tags stats"
    >
        <sly-table
                v-loading="data.imgs_tags_stat"
                :options="{perPage: 40, pageSizes: [15, 30, 40, 100]}"
                :content="data.objs_tags_statTable"
        ></sly-table>

    </sly-card>

    <sly-card
            class="mt15"
            title="Objects tags stats to imgs"
            subtitle="Objects tags stats to imgs"
    >
        <sly-table
                v-loading="data.imgs_tags_stat"
                :options="{perPage: 40, pageSizes: [15, 30, 40, 100]}"
                :content="data.obj_tags_to_imgs_urls_statTable"
        ></sly-table>

    </sly-card>

    <sly-card
            class="mt15"
            title="Objects tags vals stats"
            subtitle="Objects tags vals stats"
    >
        <sly-table
                v-loading="data.imgs_tags_stat"
                :options="{perPage: 40, pageSizes: [15, 30, 40, 100]}"
                :content="data.objs_tags_vals_statTable"
        ></sly-table>

    </sly-card>

    <sly-card
            class="mt15"
            title="Objects tags values stats to imgs"
            subtitle="Objects tags values stats to imgs"
    >
        <sly-table
                v-loading="data.imgs_tags_stat"
                :options="{perPage: 40, pageSizes: [15, 30, 40, 100]}"
                :content="data.obj_tags_vals_to_imgs_urls_statTable"
        ></sly-table>

    </sly-card>

    <sly-card
            class="mt15"
            title="Images to imgs tags and values"
            subtitle="Images to imgs tags and values"
    >
        <sly-table
                v-loading="data.imgs_tags_stat"
                :options="{perPage: 40, pageSizes: [15, 30, 40, 100]}"
                :content="data.images_to_imgs_tag_val_statTable"
        ></sly-table>

    </sly-card>

    <sly-card
            class="mt15"
            title="Images to obj tags and values"
            subtitle="Images to obj tags and values"
    >
        <sly-table
                v-loading="data.imgs_tags_stat"
                :options="{perPage: 40, pageSizes: [15, 30, 40, 100]}"
                :content="data.images_to_objs_tag_val_statTable"
        ></sly-table>

    </sly-card>

    <sly-card
            class="mt15"
            title="Objects tags to classes"
            subtitle="Objects tags to classes"
    >
        <sly-table
                v-loading="data.imgs_tags_stat"
                :options="{perPage: 40, pageSizes: [15, 30, 40, 100]}"
                :content="data.obj_tags_to_classes_statTable"
        ></sly-table>

    </sly-card>

    <sly-card
            class="mt15"
            title="Objects tags vals to classes"
            subtitle="Objects tags vals to classes"
    >
        <sly-table
                v-loading="data.imgs_tags_stat"
                :options="{perPage: 40, pageSizes: [15, 30, 40, 100]}"
                :content="data.obj_tags_vals_to_classes_statTable"
        ></sly-table>

    </sly-card>
</div>
